<h2>Products</h2>
<a href="/products">Product List</a>

<form action="/form-products" method="post">
Title:<input type="text" name="title">
<br>
Descripcion:<input type="text" name="descripcion">
<br>
Price:<input type="number" name="price">
<br>
Thumbnail:<input type="text" name="thumbnail">
<br>
Code:<input type="text" name="code">
<br>
Stock:<input type="number" name="stock">
<br>
<button type="submit">Enviar</button>
</form>